// variable
$green-topbar: #56FF00;
$green-position: #e4ede0;
$green-alt: darken($green-position, 15%);
$blue-position: #dfe7ed;
$blue-alt: darken($blue-position, 15%);
$red-position: #eddfdf;
$red-alt: darken($red-position, 15%);


* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
  color: #555555;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

input, button, select {
  font-size: 1.3rem;
}


@import './components/_titlebar';
@import './components/_wrapper';
@import './components/_item';
@import './components/_button';
@import './components/_player';
@import './components/_form';
